body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
}

.header {
    /* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(161, 211, 230) 50%); */
    display: flex;
    padding: 20px 60px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 1.3em;
    color: rgb(23, 62, 98);
}

a {
    color: rgb(23, 62, 98);
    text-decoration: none;
}

.header img {
    flex-shrink: 0;
}

.container {
    display: flex;
    padding: 40px 80px;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 62, 98);
}

.text {
    width: 500px;
    height: auto;
}

.container img {

}